{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/mainqiz.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'fontawesome-free-6.1.1-web/css/all.css' %}">


  <title>Document</title>
</head>

<body>
  <div class="asosiy">
    <div class="header headerr">
      <div class="header2 toppp">
        <ul>
          <li> <a href="index.html"><img class="Logo" src="{% static 'images/logo.png' %}" alt=""></a></li>
        </ul>
        <ul>
          <li class="li2"><img src="{% static 'images/heart.png' %}" alt="">
            <p>Sevimli</p>
          </li>
        </ul>
      </div>

    </div>

    <div class="container">

      <div class="ortaga2">
        <div class="magazin2">
          <div class="container">
            <div class="row">
              <div class="col-8 niamdir55">
                <div class="erkatoy3">
                  <img src="{% static 'images/logo3.jpg' %}" alt="">
                </div>
              </div>
              <div class="col-3 nimadir2">
                <div class="row">
                  <div class="col-12">
                    <div>
                      <div class="erkatoy4">
                        <img src="{% static 'images/logo3.jpg' %}" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div>
                      <div class="erkatoy4">
                        <img src="{% static 'images/logo3.jpg' %}" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div>
                      <div class="erkatoy4">
                        <img src="{% static 'images/logo3.jpg' %}" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="qizyoz">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ducimus quia
                accusamus sequi earum nobis temporibus! Eveniet dolorum deserunt laborum a aliquid animi reprehenderit,
                minima dignissimos, totam saepe provident sint!</p>
            </div>

          </div>
        </div>

      </div>

      <div class="ortaga">
        <div class="magazin">
          <div>
            <div class="text-center ">
              <div class="media_button mt-1">
                <button class="OgilBola" data-id="boy">Ogil <br> bola</button>
                <button class="QizBola " data-id="gril">Qiz <br> bola</button>
                <button class="Umumiy " data-id="all">Umu <br> miy</button>
              </div>
            </div>
          </div>
          <div class="container mt-5 pt-5">
            <div class="row row-cols-2 row-cols-md-4 g-4">
              <a href="details.html" class=" all boy block_item">
                <div class="col  ">
                  <div class="like2">
                    <button class="like"><i class="fa-regular fa-heart" style="color: white; width: 50px;"></i></button>
                  </div>
                  <div id="" class="box ">
                    <img src="{% static 'images/photo_2022-12-14_08-02-35.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="nem">
                        <p>SO'RG'ICH O'GIL BOLALAR UCHUN</p>
                        <i class="bi bi-balloon-heart"></i>
                        <p class="narx">15.000 so'm</p>
                      </h4>
                    </div>
                  </div>
                </div>



              </a>
              <a href="details.html" class=" all boy block_item">
                <div class="col  ">
                  <div class="like2">
                    <button class="like"><i class="fa-regular fa-heart" style="color: white; width: 50px;"></i></button>
                  </div>
                  <div id="" class="box ">
                    <img src="{% static 'images/photo_2022-12-14_08-02-35.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="nem">
                        <p>SO'RG'ICH O'GIL BOLALAR UCHUN</p>
                        <i class="bi bi-balloon-heart"></i>
                        <p class="narx">15.000 so'm</p>
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
              <a href="sotibqiz.html" class="all gril block_item">
                <div class="col   ">
                  <div class="like2">
                    <button class="like"><i class="fa-regular fa-heart" style="color: white; width: 50px;"></i></button>
                  </div>
                  <div class="boxx ">
                    <img src="{% static 'images/photo_2022-12-14_08-02-35.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="nemm">
                        <p>SO'RG'ICH O'GIL BOLALAR UCHUN</p>
                        <p class="narx">15.000 so'm</p>
                      </h4>
                    </div>
                  </div>
                </div>
              </a>

              <a href="sotibqiz.html" class="all block_item">
                <div class="col ">
                  <div class="like2">
                    <button class="like"><i class="fa-regular fa-heart" style="color: white; width: 50px;"></i></button>
                  </div>
                  <div class="boxxx ">
                    <img src="{% static 'images/photo_2022-12-14_08-02-35.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="nemmm">
                        <p>SO'RG'ICH O'GIL BOLALAR UCHUN</p>
                        <p class="narx">15.000 so'm</p>
                      </h4>
                    </div>
                  </div>
                </div>
              </a>


            </div>
          </div>
        </div>
      </div>
    </div>
    <div>



      <div class="tuga">
        <div class="soz">
          <a href="2/shop.html" class="text-decoration-none">BIZ HAQIMZDA</a><br>
          <a href="#" class="text-decoration-none">YETKAZIB BERISH</a><br>
          <a href="#" class="text-decoration-none">BYURTMABERISSH</a><br>
        </div>
        <div class="foto">
          <img src="{% static 'images/telegram-icon.png' %}" alt="">
          <br>
          <img src="{% static 'images/instagram-icon.png' %}" alt="">
        </div>
  
  
      </div>
  
      <p>SAYT KURSOR.UZ JAMOASI TOMONIDAN YASALGAN</p>
    </div>
  </div>


  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>
</body>

</html>